/* ---------- FONT FAMILY ---------- */

@font-face {
    font-family: 'coolvetica';
    src: url('../fonts/coolvetica_rg-webfont.eot');
    src: url('../fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'),
    url('../fonts/coolvetica_rg-webfont.woff') format('woff'),
    url('../fonts/coolvetica_rg-webfont.ttf') format('truetype'),
    url('../fonts/coolvetica_rg-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'untitled';
    src: url('../fonts/eaglethunder-webfont.eot');
    src: url('../fonts/eaglethunder-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eaglethunder-webfont.woff2') format('woff2'),
    url('../fonts/eaglethunder-webfont.woff') format('woff'),
    url('../fonts/eaglethunder-webfont.ttf') format('truetype'),
    url('../fonts/eaglethunder-webfont.svg#untitledregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ---------- GENERAL ---------- */

body {
    
    display: flex;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}

#template {
    background-image: url("../img/background.png");
    background-size: cover;
}

/* ---------- HEADER ---------- */

header {
    background-color: black;
    width: 5%;
    opacity: 0.75;
}

nav.navbar {
    padding: 0;
}

#myNavbar {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#myNavbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column !important;
}

#myNavbar ul:first-child {
    margin-top: 2vh;
}

#myNavbar ul:last-child {
    margin-bottom: 2vh;
}

#myNavbar ul li img {
    width: 6vh;
    margin-top: 3.5vh;
}

/* ------------------------------ */
/* ---------- FRONTEND ---------- */
/* ------------------------------ */


/* ---------- TITLE MAIN PAGE ACTIVITY ---------- */

h1 {
    width: 100%;
    color: #fff;
    font-weight: 100;
    margin-bottom: 5%;
}

h1 span{
    font-family: 'coolvetica';
    font-size: 0.8em;

}

h1 div{
    font-family: 'untitled';
    font-size: 1.5em;
}

/* ---------- MAIN PAGE ACTIVITY ---------- */

main {
    overflow: auto;
    display: flex;
    padding: 0 !important;
}

/* ---------- HOME PAGE ---------- */
/* ---------- MAIN PAGE LIST ACTIVITY ---------- */

#listActivity {
    display: flex;
    flex-direction: column;
}

/* ---------- MAIN PAGE ACTIVITY ---------- */
.blue {
    background-color: #035e82
}

.red {
    background-color: #a73732;
}

.purple {
    background-color: #5c217c;
}

.activity {
    display: flex;
    height: 15vh;
    padding-left: 2%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.containerPicture {
    width: 34%;
    overflow: hidden;
    height: 15vh;
}

.containerPicture img {
    height: 100%;
    width: auto;
}


.flagCountry img {
    width: 5vh;
}

.flagCountry {
    width: 9vh;
    height: 9vh;
    background-color: #bfbfbf;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate {
    margin: auto;
}

.liststar{
    display: flex;
    list-style: none;
}

.liststar li img{
    width: 80%;
}

.geolocalisation a img {
    height: 100%;
    width: auto;
}

#blockRateFlag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%
}

/* ---------- MAIN PAGE DETAIL ACTIVITY ---------- */

.detailActivity {
    background-color: #e6e7e7;
    height: 100vh;
    padding: 0 !important;
}

#photoDatail {
    width: 100%;
    height: 30vh;
}

#photoDetail img {
    width: 100%;
}

#photoDetail figcaption a img {
    width: 7vh;
    position: relative;
    bottom: 4vh;
    left: 22vw;
}

#textDetail {
    margin: 5%;
}

#textDetail h2 {
    font-family: 'coolvetica';
    font-weight: normal;
    color: #a0a0a0;
    font-size: 2em;
    margin: 0;
}

#textDetail p {
    font-family: 'roboto';
    color: #5a5a5a;
}

.listInfo {
    display: flex;
    border-top: dashed 1px black;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
}

.listInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.listInfo ul li {
    display: flex;
    align-items: center;
}

.listInfo ul li img {
    width: 7vh;
    padding: 3vh 0;
}

.listInfo ul li p {
    padding-left: 2vh;
    color: #5a5a5a;
    font-family: 'roboto';
}

/* ---------- PASSPORT PAGE ---------- */
/* ---------- PAGE OF COUNTRIES ---------- */

.imgSide {
    background-image: url("../img/passport/bck_passport.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#countriesList {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vh;
}

#countriesList li {
    list-style: none;
    position: relative;
    margin: 2vh 1vh;
}

#countriesList li h2 {
    padding-left: 10%;
    color: #fff;
    font-family: 'coolvetica';
    display: flex;
    align-items: center;
    height: 5vh;
    margin: 0;
    width: 30vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    
}

#countriesList li img {
    width: 30vh;
}

/* ---------- PAGE ACTIVITIES OF COUNTRY ---------- */

#colorTitleBlue {
    color: #035e82;
}

#colorTitleRed {
    color: #a73732;
}

#colorTitlePurple {
    color: #602481;
}

#menuActivities {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    padding: 0 !important;
}

#menuActivities li {
    list-style-type: none;
    position: relative;
    width: 15vw;
}

#menuActivities li h2 {
    position: absolute;
    height: 5vh;
    font-size: 1.8em;
    font-family: 'coolvetica';
    display: flex;
    align-items: center;
    margin-left: 10%;
}

#menuActivities li img {
    width: 15vw;
}

.activityActive {
    box-shadow: 0.3em 0.3em 0 #fff;
}

/* ---------- PAGE DONATION ---------- */

#donationPage {
    background-image: url(../img/donation/bckdonation.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#donationBLock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#donationArticle {
    width: 32%;
    height: 63vh;
    background-color: #fff;
    text-align: center;
    opacity: 95%;
    padding: 2.5%;
    background-image: url(../img/donation/wave.png);
    background-repeat: no-repeat;
    background-size: 126vh;
    background-position: bottom;
}

#donationArticle img {
    width: 20%;
}

#donationArticle h1 {
    color: #000;
    font-family: 'coolvetica';
    font-weight: normal;
    font-size: 1.8em;
    text-align: center;
    margin: 0.83em 0;
}

#donationArticle p {
    font-family: 'roboto';
    font-size: 0.95em;
    color: #5a5a5a;
    margin: 1em 0;
}

.listbtn {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.listbtn .btn_buy{
    background-color: #025e83;
    height: 6vh;
    color: white;
    font-family: 'roboto';
    padding: 1%;
    padding: 1.5vh;
    display: flex;
    align-items: center;
}

.listbtn .btn_back{
    width: 4vh;
    background-color: #025e83;
    height: 6vh;
    color: white;
    font-family: 'roboto';
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listbtn a{
    text-decoration: none;
}

/* ---------- PAGE CONNECTION ---------- */

#connectionPage {
    background-image: url(../img/connexion/backgroundback.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#connectionBLock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#connectionArticle {
    background-color: #d2d2d2;
    width: 25%;
    height: auto;
}

#connectionArticle img {
    width: 100%;
}

.containerInput {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 2vh;
    position: relative;
}

input[type=text],input[type=password] {
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'roboto';
    font-size: 0.9em;
}

.fa-user, .fa-lock {
    position: absolute;
    top: 2vh;
    right: 2vh;
    color: #6d6e76;
}

.connectionButtons {
    display: flex;
    justify-content: space-around;
    margin: 4vh;
}

.connectionButton{
    background-color: #025e83;
    height: 6vh;
    color: white;
    font-family: 'roboto';
    padding: 1%;
    padding: 1.5vh;
    display: flex;
    align-items: center;
}

.backButton {
    width: 4vh;
    background-color: #fff;
    height: 6vh;
    color: #6d6e76;
    font-family: 'roboto';
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listbtn a{
    text-decoration: none;
}

/* ----------------------------- */
/* ---------- BACKEBD ---------- */
/* ----------------------------- */

#listActivities {
    display: flex;
    align-items: flex-end;
    padding: 0 !important;
    flex-direction: column;
}

#headerList {
    
    width: 55%;
    position: relative;
}

#headerList img {
    width: 100%;
}

#headerList h1 {
    position: absolute;
    top: 10vh;
    margin: 5%;
    font-weight: 100;
    font-family: 'coolvetica';
    font-size: 3em;
}

#blockList {
    width: 55%;
    background-color: #d2d2d2;  
}

.activityLittleList {
    height: 7vh;
    margin: 1vh 5%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.activityLittleList img {
    height: 7vh;
}

.identityBlock {
    display: flex;
    width: 50%;
}

.blockColor {
    width: 2%;
    height: 7vh;
}

.blockTitle, .blockStatus {
    padding-left: 2%;
    display: flex;
    align-items: center;
    font-family: 'roboto';
    color: #5a5a5a;
    font-size: 0.9em;
/*    width: auto;*/
    font-weight: normal;
}

.actionBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionBlock .far {
    font-size: 2em;
    padding-right: 2vh;
}













































